# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeFiles/*
cmake-build-*
CMakeCache.txt
cmake_install.cmake
src/test/CMakeFiles/
src/test/cmake_install.cmake
src/test/CMakeCache.txt
src/test/Makefile
Makefile

# IDE
.idea/

# Dataset
*.json

# Cython
python/quartz/_cython/*.cpp
python/build/*
python/dist/*
python/quartz.egg-info/
python/quartz/__pycache__/
src/python/utils/__pycache__/
src/python/verifier/__pycache__/
install_manifest.txt
**/__pycache__

# Build
build/*

# others
.DS_Store
