black>=22.1.0
black[d]>=22.1.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
cryptography==36.0.1
dill==0.3.4
idna==3.3
matplotlib>=3.7.1
mpmath==1.2.1
natsort==8.1.0
ntlm-auth==1.5.0
numpy==1.22.1
pbr==5.8.0
ply==3.11
psutil==5.9.0
pulp==2.7.0
pybind11>=2.6.2
pycparser==2.21
python-constraint==1.4.0
python-dateutil==2.8.2
qiskit==0.42.1
qiskit-aer==0.12.0
qiskit-ibmq-provider==0.20.2
qiskit-ignis==0.7.1
qiskit-terra==0.23.3
requests==2.27.1
requests-ntlm==1.1.0
scipy>=1.7.3
six==1.16.0
stevedore==3.5.0
symengine==0.10.0
sympy==1.9
urllib3==1.26.8
websocket-client==1.5.1
z3_solver==4.8.12.0
